---
import MainLayout from "../layouts/MainLayout.astro";
const allBlogs = await Astro.glob("../pages/posts/*.md")
---

<MainLayout title="Blogs">
	<ul>
        {allBlogs.map((blog) =>{
            return(
                <li><a href={blog.url}>{blog.frontmatter.title}</a></li>
            )
        })}
    </ul>
</MainLayout>
