---

---
<ul class="navbar">
    <li><a href="/">Home</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/download">Download</a></li>
</ul>

<style>
.navbar {
    border : 1px solid;
    margin : 0;
    padding : 0;
    width: 100%;
    height : 50px;
    display : flex;
    justify-content : space-around;
    align-items : center;
    >li{
        list-style : none;
        >a{
            text-decoration : none;
        }
    }
    position: sticky;
    top: 0;
    background: #EDE6F3;

}
</style>