---
import MainLayout from "./MainLayout.astro";
const {frontmatter} = Astro.props
---

<MainLayout title={frontmatter.title} descryption="{frontmatter.tag}" >
    <h1>
        {frontmatter.title}
    </h1>
    <div class="blog-content">
        <slot/>
    </div>
</MainLayout>

<style>
.blog-content {
    width: 90%;
    margin: 0 auto;
    >p{
        word-wrap: break-word;
        >img{
            width: 100%;
        }
    }
}
</style>